*, * > * {
	box-sizing: border-box;
}

body, html{
	background-color: #F9F9F9;
	scroll-behavior: smooth;
}

.container{
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}

.sub-container{
	font-family: rawline;
	margin-left: 140px;
	margin-top: 50px;
	max-width: 800px;
	margin-right: 150px;
}

.container h1{
	font-size: 46px;
	font-family: rawline;
}

.container p{
	font-family: rawline;
	font-size: 22px;
	margin-top: 50px;
	line-height: 28px;
}

.kontakt-btn{
	margin-top: 50px;
}

.kontakt-btn a{
	font-size: 38px;
	color: #0080FF;
	padding: 5px;
	padding-bottom: 9px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
}

.beam-container{
	margin-right: 100px;
}

.imgbeam{
	margin-left: 25px;
}

.imgbeam > a{
	max-height: 250px;
	max-width: 250px;
	border-radius: 150px;
	background-color: #9CC78B;
	display: block;
	margin-top: 75px;
}

.imgbeam > a > img{
	height: 250px;
	width: 250px;
	border-radius: 150px;
	background-color: #9CC78B;
	display: block;
}


.project-wrapper-text{
	max-width: 600px;
	min-width: 500px;
}

.project-wrapper-text a{
	font-family: rawline;
	font-size: 22px;
	margin-top: 20px;
}

.project-img{
	margin-left: 75px;
	max-width: 500px;
	display: block;
	max-height: 680px;
}

.first-last{
	position: absolute;
	top: 145%;
	left: 5%;
}

.first-next{
	position: absolute;
	top: 145%;
	right: 5%;
}

.close{
	position: absolute;
	top: 115%;
	right: 10%;
	font-family: rawline;
	font-size: 28px;
}

.close-kontakt{
	position: absolute;
	top: 215%;
	right: 10%;
	font-family: rawline;
	font-size: 28px;
}

.next{
	position: absolute;
	top: 145%;
	right: 5%;
}

.last{
	position: absolute;
	top: 145%;
	left: 5%;
}